* { margin:0 auto}
h1 {text-align: center;
    margin: 20px 0;

}
header {
    width: 100%;
    height: 240px;
    margin-bottom: 100px;
}
.block-red {
    width: 630px;
    height: 80px;
    background-color: red;
}
.block-green {
    width: 630px;
    height: 80px;
    background-color: green
}
.block-blue {
    width: 630px;
    height: 80px;
    background-color: blue;
}
main {
    width: 100%;
    height: 240px;
    margin-bottom: 100px;
}
.main-block-1 {
    width: 630px;
    height: 80px;
    display: flex;
    justify-content: flex-start;
}
.main-block-1-red {
    width: 210px;
    height: 80px;
    background-color: red;}
.main-block-1-green {
    width: 210px;
    height: 80px;
    background-color: green;
}
.main-block-1-blue {
    width: 210px;
    height: 80px;
    background-color: blue;
}
.main-block-2 {
    width: 630px;
    height: 80px;
    background-color: yellow;
}
.main-block-3 {
    width: 630px;
    height: 80px;
    display: flex;
    justify-content: flex-start;
}
.main-block-3-gray {
    width: 210px;
    height: 80px;
    background-color: gray;
}
.main-block-3-black {
    width: 210px;
    height: 80px;
    background-color: black;
}
.main-block-3-blue {
    width: 210px;
    height: 80px;
    background-color: blue;
}
footer {
    width: 100%;
    height: 240px;
}
.footer-block {
    width: 630px;
    height: 240px;
    background-color: rgb(154, 247, 130);
    display: flex;
    justify-content: center;
    align-items:center;
}
.footer-block-red {
    width: 150px;
    height: 150px;
    background-color: red;
}
.footer-block-green {
    width: 150px;
    height: 150px;
    background-color: green;
}
.footer-block-blue {
    width: 150px;
    height: 150px;
    background-color: blue;
}


